# --- STM32 & CubeIDE ---
Debug/
Release/
.settings/
*.ioc.bak
.mxproject

# --- Altium Designer ---
History/
Project Logs for */
__Previews/

# --- Qt & VSCode ---
build/
*.o
*.obj
*.exe
.vscode/
.ninja_log
.ninja_deps
compile_commands.json
*.user

# --- Windows & Genel ---
Thumbs.db
*.log
